<div class="calorie-stats-container">


  <div class="cal-target">
    <div class="cal-target-label">Target</div>
    <div id="cal-target">1000</div>
    <div class="none" id="carb-goal"><%= macros.carbs %> </div>
    <div class="none" id="fat-goal"><%= macros.fats %> </div>
    <div class="none" id="protein-goal"><%= macros.protein %> </div>
  </div>
  <div>-</div>
  <div class="cal-consumed">
    <div class="cal-consumed-label">Consumed</div>
    <div id="cal-consumed">0</div>
  </div>
  <div>+</div>
  <div class="cal-burned">
    <div class="cal-burned-label">Burned</div>
    <div id="cal-burned">0</div>
  </div>
  <div>=</div>
  <div class="cal-remaining">
    <div class="cal-remaining-label">Remaining</div>
    <div id="cal-remaining">0</div>
  </div>
</div>

<div class="outer-stats-container">
  <div class="stats-labels-container">
    <div id="empty">empty</div>
    <div>Consumed</div>
    <div>Remaining</div>
  </div>
  <div class="stats-main-container">
    <div class="stats-header-container">
      <div>C</div><div>F</div><div>P</div>
    </div>
    <div class="stats-container">
      <div class="stats-flex-container">
        <div class="today-carb">0</div>
        <div id="of">of</div>
        <div class="carb-goal"><%= macros.carbs %></div>
      </div>
      <div class="stats-flex-container">
        <div class="today-fat">0</div>
        <div id="of">of</div>
        <div class="fat-goal"><%= macros.fats %></div>
      </div>
      <div class="stats-flex-container">
        <div class="today-protein">0</div>
        <div id="of">of</div>
        <div class="protein-goal"><%= macros.protein %></div>
      </div>
    </div>
    <div class="remaining-stats-container">
      <div class="carbs-remaining"></div>
      <div class="fats-remaining"></div>
      <div class="protein-remaining"></div>
    </div>
  </div>
</div>
