<% include ./partials/header %>

<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacroTracker</title>
    <link rel="stylesheet" type="text/css" href="/css/userStats.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Material design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>

  <div class="outer-container">
      <% include ./partials/navbarStats %>
      <h4>Progress Summary</h4>
    <div class="calories-grid">
      <div class="cal-header">Cals: Sun-Today</div>
      <div class="cal-subtitle-consumed">Consumed</div>
      <div class="cal-subtitle-allowed">Allowed</div>
      <div class="cal-consumed">0</div>
      <div class="cal-allowed">0</div>
      <div class="cal-difference-container">
        <div class="cal-icon">+/-</div>
        <div class="cal-difference"></div>
      </div>
    </div>
    <div class="macros-grid">
      <div class="macro-header">Today's Macros</div>
      <div class="carb-title">C</div>
      <div class="fat-title">F</div>
      <div class="protein-title">P</div>
      <div class="targets-subtitle">Targets</div>
        <div class="carb-target"><%=macros.carbs %></div>
        <div class="fat-target"><%=macros.fats %></div>
        <div class="protein-target"><%=macros.protein %></div>
      <div class="consumed-macros-subtitle">Remaining</div>
        <div class="carb-balance"><%=macros.carbs %></div>
        <div class="fat-balance"><%=macros.fats %></div>
        <div class="protein-balance"><%=macros.protein %></div>
    </div>
    <div class="message-grid">
      <div>At this rate, you are on track to lose <span class="pounds">##</span> lbs this week!</div>
    </div>
  </div>

  <!-- Data placeholders -->
  <div style="display: none;">
    <div class="weekly-entries"><%=weeklyEntries %></div>
    <div class="favorites"><%=favorites %></div>
  <div>

<script type="text/javascript" src="/scripts/userStats.js"></script>
</body>
<% include ./partials/footer %>
