<% include ./partials/header %>
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
    <title>MacroTracker</title>
    <link rel="stylesheet" type="text/css" href="/css/userlog.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Material design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</head>
<body>
<div class="outmost-container">
<% include ./partials/navbar %>

<% include ./partials/userStats %>
<div class="log-grid-container">
  <div class="entry-label">Item Name</div>
  <div class="entry-label">Carbs</div>
  <div class="entry-label">Fats</div>
  <div class="entry-label">Protein</div>
  <div class="entry-label">Favorite</div>
  <div class="entry-label edit-options">Options</div>
  <% todaysEntries.forEach( meal => { %>
    <div class="entry-name"><%=meal.name%></div>
    <div class="entry-carb"><%=meal.carb%></div>
    <div class="entry-fat"><%=meal.fat%></div>
    <div class="entry-protein"><%=meal.protein%></div>
    <% if(meal.favorite){ %>
      <div class="heart-filled entry-fav">Y</div>
    <% }else{ %>
      <div class="heart entry-fav">N</div>
    <% } %>
    <div class="options" id="<%= meal.id %>"><i class="edit material-icons">edit</i> || <i class="delete material-icons">delete_outline</i></div>
  <% }) %>
</div>

  <form class="new-entry-form" action="/<%=username %>/log " method="post">
    <input name="name" class="new-entry-name" placeholder="Food or Meal Name">
    <input name="carb" class="new-entry-carb" placeholder="carbs">
    <input name="fat" class="new-entry-fat" placeholder="fat">
    <input name="protein" class="new-entry-protein" placeholder="protein">
    <div class="favorite">
      <i class="material-icons" id="favorite">favorite_border</i>
    </div>
    <div class="ajax-post">
      <i class="material-icons" id="add-entry">add_circle</i>
    </div>

  </form>
</div>
<script type="text/javascript" src="/scripts/userlog.js"></script>
<script type="text/javascript" src="/scripts/ajaxUpdate.js"></script>

<% include ./partials/footer %>
